/*
.largura { max-width: 500px;border: 2px dotted black;}

.row { height: 100%;}

.col-6, .col-3 { height: 25px; margin: 0px;}

header { text-align: center;}

.bi.bi-bell, .bi.bi-arrow-through-heart {font-size: 40px; color: green; margin: 0px auto;}

*/

/*
body { height: 100vh; width: 100vw;}

.container-fluid { width: 100%;}

footer { background-color: #1c1c1c;}

a { text-decoration: none;}

.row { max-width: 600px; margin: 0px auto;}

*/

*{margin: 0;padding: 0; box-sizing: border-box;}

body{ background-image: url(/aula017/assets/images/bg-02.jpg);background-repeat: no-repeat;background-size: cover;}

.container {height: 100vh;width: 100vw;}

.col-4 {gap: 10px;background-color: rgba(245, 241, 241, 0.65); width: 18rem;margin: 0px  30px;border-radius: 15px;width: 320px;height: 450px;text-align: center;margin-top: 10%;}

.icons {font-size: 50px;margin :50px 0px;}



