
.h100 { height: 100px;}

.h400 {height: 400px;}

.col-3 { background-color: aqua; height: 50px; border: 1px solid black;}

.borderblack { height: 200px;}

/*
.h100 { height: 100px;}

.h400 { height: 400px;}

.h50 { height: 50px;}
*/