* { margin: 0px; padding: 0px; font-size: 26px }

body { background-color: #d9d9d9; display: grid; width: 100vw; height: 100vh; grid-template-columns:20% 60% 20%; grid-template-rows: 5% 5% 80% 5% 5%; grid-template-areas:
    "header  header header"
    "nav article ads"
    "nav article ads"
    "nav article ads"
    "footer footer footer";}

header {background-color: green; grid-area: header; }
nav { background-color: blue; grid-area: nav;}
article { background-color: yellow; grid-area: article;}
div { background-color: orange; grid-area: div;}
footer { background-color: gray; grid-area: footer;}