* { margin: 0px; padding: 0px; box-sizing: border-box; }

/* body { background-color: #21292c; color: #f0f0f0; font-family: system-ui, -apple-system; height: 100vh; background-image: url('./imagens/questao04.bg.jpg'); background-repeat: no-repeat; background-size: cover; } */

body { background-color: #21292c; color: #f0f0f0; font-family: system-ui, -apple-system; height: 100vh; }

main.container { display: flex; width: 80vw; margin: 0 auto; height: 100vh; align-items: center; }

figure { width: 30%; padding: 20px; display: flex; flex-direction: column; justify-content: space-between; height: 500px; align-items: center; }

.icon { width: 150px; height: 150px; background-color: orange; display: flex; align-items: center; justify-content: center; border: 5px solid #fff; border-radius: 100%; }

p { text-align: center; font-size: 12px; }

hr { width: 100%; }

button { background-color: #27c7ce; border: none; padding: 15px; border-radius: 20px; font-weight: bold; color: #fff; text-transform: uppercase; }